@*using System;
    using System.Collections.Generic;
    using System.Linq;
    using System.Web;

    namespace test
    {
        public class NewsLetter
        {
        }
    }*@
@{
    Layout = "_Layout.cshtml";
}

    <head>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     

    </head>


<div class="container" >
    
    <div class="row">
        <div class="span12" style="background-color:#343a40; border:3px solid #14716c">
            <div class="thumbnail center well well-small text-center" style="color:black">
                <h2>Newsletter</h2>

                <p>Subscribe to our weekly Newsletter and stay tuned.</p>

                <form action="ConfirmNewsLetter" method="post">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" id="email" name="email" placeholder="your@email.com">
                    </div>
                    <br />
                    <input type="submit" style="background-color:turquoise;color:black;border:3px solid orangered" value="Subscribe Now!" class="btn-lg" />
                </form>
            </div>
        </div>
    </div>
</div>